@import "variables";

/* Dreamfuel logo */
.dreamfuel
{
	border-width: 5px;
	border-style: solid;
	border-color: $h1_color;
	font-family: "ariel",sans-serif;
	font-weight: bold;
	color: $h1_color;
}

