<div class="navbar temp">
	<div class="navbar-inner temp">
		<div class="container">
			<a class="dreamfuel btn btn-primary" href="/"><%= Settings.product_name %></a>
			<a class="btn btn-primary" href="/">HI</a>
		</div>
	</div>
</div>
